
<div *ngIf="season">
    <h2><span jhiTranslate="scraperApp.season.detail.title">Season</span> {{season.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="scraperApp.season.year">Year</span></dt>
        <dd>
            <span>{{season.year}}</span>
        </dd>
        <dt><span jhiTranslate="scraperApp.season.league">League</span></dt>
        <dd>
            <div *ngIf="season.leagueId">
                <a [routerLink]="['/league', season.leagueId]">{{season.leagueName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'season/'+ season.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
